{% extends "malbum/views/templates/base.html" %}
{% block content %}

<div class="row">
    <div class="small-12 small-centered columns ">

        {% for picture in pictures %}

        <div class="home-image-wrapper">

            <div class="home-image">
                <a href="{{context}}/{{picture.uname}}/detail/{{picture.name}}">
                    <img class="home-image-image" src="{{context}}/img/{{picture.uname}}/{{picture.name}}" />
                </a>
            </div>

            <div class="home-image-meta">
                <table>
                    <tr>
                        <td>{{picture.uname}}</td>
                        <td>{{picture.custom_name}}</td>
                        <td>{{picture.upload_date}}</td>
                    </tr>
                    <span>{{picture.description}}</span>
                </table>
            </div>

        </div>

        {% endfor %}

    </div>
</div>


{% endblock %}
