{% extends "malbum/views/templates/base.html" %}
{% block content %}

{% if errors %}
<div class="row">
    <div class="callout alert">
        <ul>
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endif %}

<div class="row">
    <h4>Please enter your username and password to login:</h4>
</div>

<form action="{{context}}/login" method="POST">
    <div class="row">
        <div class="small-4 columns small-pull-8">
            <input type="text" name="uname" placeholder="Username" tabindex="1" />
        </div>
    </div>

    <div class="row">
        <div class="small-4 columns small-pull-8">
            <input type="password" name="pwd" placeholder="Password" tabindex="2" />
        </div>
    </div>

    <div class="row">
        <input class="button" type="submit" value="Submit Details" />
    </div>


</form>



{% endblock %}
