{% extends "malbum/views/templates/base.html" %}
{% block content %}
<div class="row">
    <div id="manage-errors-wrapper" class="callout alert" style="display: none;">
        <ul id="manage-errors">
            <li>{{errors}}</li>
        </ul>
    </div>
</div>

<div class="row">
    <div id="manage-success-wrapper" class="callout success" style="display: none;">
        <ul id="manage-success">

        </ul>
    </div>
</div>

<div class="row">
    <div class="small-12 small-centered columns">
        <h4 id="management-header">Managing {{user.uname}}'s photos.</h4>
    </div>

</div>

<div class="row">
    <div class="small-12 small-centered columns">
        <table class="management-table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>File Name</th>
                <th>Upload Date</th>
                <th>Delete?</th>
            </tr>
            </thead>
            <tbody>
                {% for photo in photos %}
                <tr id="row-{{photo.name}}">
                    <td><img class="photo-management-image"
                             src="{{context}}/img/{{photo.uname}}/{{photo.thumb_name}}"/></td>
                    <td>{{photo.custom_name}}</td>
                    <td>{{photo.name}}</td>
                    <td>{{photo.upload_date}}</td>
                    <td><input type="checkbox"
                               id="{{photo.name}}"
                               name="{{photo.name}}" /></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="small-12 small-centered columns">
        <input class="button" id="delete" type="button" value="Delete selected images" />
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{context}}/js/manage-delete.js"></script>
{% endblock %}
