{% extends "malbum/views/templates/base.html" %}
{% block content %}
<div class="album">
    <div id="errors">
        <ul>

        </ul>
    </div>

    <div class="row">
        <div class="small-12 small-centered columns">

            <img class="photoview-image" src="{{context}}/img/{{page-user}}/{{picture.name}}" />

        </div>

    </div>

    <div class="row">
        <div class="small-12 small-centered  columns">
           <div id="full-image-link"><a href="{{context}}/img/{{page-user}}/{{picture.name}}">View Full Image</a></div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 small-centered  columns">
            <div id="photoview-description">
                <h5>About this photo: </h5> <br/>
                <p>{{picture.description}}</p>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="small-12 small-centered large-6 columns">
            <div class="photoview-table">
                <table class="hover">
                    <thead>
                        <tr>
                            <th>Image Name</th>
                            <th>Uploaded On</th>
                            <th>Uploaded By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{picture.custom_name}}</td>
                            <td>{{picture.upload-date}}</td>
                            <td>{{page-user}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>

    <!-- comment posting form -->
    <div class="row">
        <div class="small-6 small-centered columns">
            <h5>Add comment:</h5> <br/>
            <!-- TODO: hook these up with a clojurescript ajax call -->
            <textarea name="new_comment"></textarea>
            <input type="hidden" name="photo_id" value="{{picture.photo_id}}" />
            <input class="button" type="submit" value="Post Comment" />
        </div>
    </div>

    <!--comments-->
    <div class="row">
        <div class="small-6 small-centered columns">

            <h4>Comments for this photo: </h4> <br/>

            {% for cmt in comments %}

            <div class="comment">
                <h5>{{cmt.uname}}</h5>
                <p>{{cmt.comment}}</p>
                <p>{{cmt.date}}</p>
            </div>

            {% endfor %}


        </div>

    </div>
</div>
{% endblock %}